## Data Structures
Data structures are used to organize and store the data. Algorithms supports operations on data.

Python has 4 main data structures: `Lists`, `Dictionaries`, `Tuples` and `Sets`.

__List__\
A list is a set of ordered values. Each value in a list is called an `element` or `item` and can be identified by an index. A list supports different data types, we can have a list of integers, strings, and floats.

What we will see with Python lists:

* Creating a list
* Accessing elements in a list
* Slicing a list
* Changing elements in a list
* Traversing a list
* Operations on list
* Nested lists
* List methods
* List and strings

__Creating a List__\
A python list can be created by enclosing elements of similar or different data type in square brackets [...], or with range() function.

In [2]:
# Creating a list

week_days = ['Mon', 'Tue', 'Wed', 'Thur','Fri']
even_numbers = [2, 4, 6, 8, 10]
mixed_list = ['Mon', 1, 'Tue', 2, 'Wed', 3]

# Displaying elements of a list
print(week_days)

['Mon', 'Tue', 'Wed', 'Thur', 'Fri']

In [3]:
# Creating a list with range()

nums = range(5)

for i in nums:
    print(i)

0
1
2
3
4

__Accessing the elements of the list__\
We can access the a given element of the list by providing the index of the element in a bracket. The index starts at 0 in Python.

In [4]:
# Accessing the first elements of the list

week_days[0]

'Mon'

In [5]:
even_numbers[2]

6

In [6]:
# Getting the last element of the list

print(even_numbers[-1])

10

__Slicing a list__\
Given a list, we can slice it to get any parts or combination of its elements forming another list.

In [7]:
# Get the elements from index 0 to 2. Index 2 is not included.

week_days = ['Mon', 'Tue', 'Wed', 'Thur','Fri']
week_days[0:2]

['Mon', 'Tue']

In [8]:
# Get elements from the last fourth elements to the first
# -1 starts at the last element 'Fri', -2 second last element `Thur'..... -4 to 'Tue'

week_days[-4:]

['Tue', 'Wed', 'Thur', 'Fri']

In [9]:
# Get all elements up to the fourth index

week_days[:4]

['Mon', 'Tue', 'Wed', 'Thur']

In [10]:
# Get all elements from the second to the last index

week_days[2:]

['Wed', 'Thur', 'Fri']

In [11]:
week_days[:]

['Mon', 'Tue', 'Wed', 'Thur', 'Fri']

__Changing elements in a list__\
Python lists are mutable. We can delete or change the elements of the list.

In [12]:
names = ['Alhaj', 'Sheikh', 'Abdulla', 'Ayyubi']
names

['Alhaj', 'Sheikh', 'Abdulla', 'Ayyubi']

In [13]:
# Change 'Sheikh' to 'Shekh' and 'Abdulla' to 'Abdullah'

names[1:3] = ['Shekh', 'Abdullah']
names

['Alhaj', 'Shekh', 'Abdullah', 'Ayyubi']

In [14]:
# Change 'Ayyubi' to Ayubi

names[-1] = 'Ayubi'
names

['Alhaj', 'Shekh', 'Abdullah', 'Ayubi']

In [15]:
# Change `Alhaj` to `Al-Haj`

names[0] = 'Al-Haj'
names

['Al-Haj', 'Shekh', 'Abdullah', 'Ayubi']

In order to delete a given element in a list, we can empty slice it but the better way to delete element is to use del keyword.

In [16]:
# Delete Ayubi in names list

del names[3]
names

['Al-Haj', 'Shekh', 'Abdullah']

If you know the index of the element you want to remove, you can use `pop()`. If you don't provide the index in pop(), the last element will be deleted.

In [17]:
names = ['Al-Haj', 'Shekh', 'Abdullah', 'Ayubi']
names.pop(3)
names

['Al-Haj', 'Shekh', 'Abdullah']

Also, we can use `remove()` to delete the element provided inside the remove() method.

In [18]:
names = ['Al-Haj', 'Shekh', 'Abdullah', 'Ayubi']
names.remove('Ayubi')
names

['Al-Haj', 'Shekh', 'Abdullah']

We can also use `append()` to add element to the list.

In [19]:
# Adding the new elements in list

names = ['Al-Haj', 'Shekh', 'Abdullah', 'Ayubi']
names.append('ibn')
names.append('Md Chand')
names

['Al-Haj', 'Shekh', 'Abdullah', 'Ayubi', 'ibn', 'Md Chand']

__Traversing a list__\
There are times that we may need to go over the list to read the elements of the list or perform iterative operations. We can use for loop to traverse through the list.

In [20]:
# Given a list names, use for loop to display its elements

names = ['Al-Haj', 'Shekh', 'Abdullah', 'Ayubi']

for name in names:
    print(name)

Al-Haj
Shekh
Abdullah
Ayubi

In [21]:
# Given a list nums, add 1 to the first element, 2 to the second, 3 to 3rd element, 4 to 4th element
# Example: nums = [1,2,3,6] will be nums_new = [2,4,6,10]

nums = [1, 2, 3, 6]
nums_new = []

for i in range(len(nums)): #len(nums) gives the length of the list
    num = nums[i] + i + 1
    nums_new.append(num)
    
nums_new

[2, 4, 6, 10]

__Operations on list__

In [22]:
# Concatenating two lists

a = [1,2,3]
b = [4,5,6]

c = a + b

c

[1, 2, 3, 4, 5, 6]

In [23]:
# We can also use * operator to repeat a list a number of times

[None] * 5

[None, None, None, None, None]

In [24]:
[True] * 4

[True, True, True, True]

In [25]:
[1,2,4,5] * 2

[1, 2, 4, 5, 1, 2, 4, 5]

__Nested lists__

In [26]:
# Creating a list in other list

nested_list = [1,2,3, ['a', 'b', 'c']]


# Get the ['a', 'b', 'c'] from the nested_list

nested_list[3]

['a', 'b', 'c']

In [27]:
# Indexing and slicing a nested list is quite similar to normal list

nested_list[1]

2

__List Methods__\
Python also offers methods which make it easy to work with lists. We already have been using some list methods such as `pop()` and `append()` but let's review more other methods.

In [28]:
# Sorting a list with sort()

even_numbers = [2,14,16,12,20,8,10]

even_numbers.sort()

even_numbers

[2, 8, 10, 12, 14, 16, 20]

In [29]:
# Reversing a string with reverse()

even_numbers.reverse()
even_numbers

[20, 16, 14, 12, 10, 8, 2]

In [30]:
# Adding other elements to a list with append()

even_numbers = [2,14,16,12,20,8,10]

even_numbers.append(40)
even_numbers

[2, 14, 16, 12, 20, 8, 10, 40]

In [31]:
# Removing the first element of a list

even_numbers.remove(2)
even_numbers

[14, 16, 12, 20, 8, 10, 40]

In [32]:
## Return the element of the list at index x

even_numbers = [2,14,16,12,20,8,10]

## Return the item at the 1st index

even_numbers.pop(1)

14

In [33]:
# pop() without index specified will return the last element of the list

even_numbers = [2,14,16,12,20,8,10]
even_numbers.pop()

10

In [34]:
# Count a number of times an element appear in a list

even_numbers = [2,2,4,6,8]
even_numbers.count(2)

2

__List and strings__\
We previously have learned about strings. Strings are sequence of characters. List is a sequence of values.

In [35]:
# We can convert a string into list

stri = 'Apple'

list(stri)

['A', 'p', 'p', 'l', 'e']

In [36]:
# Splitting a string produces a list of individual words

stri_2 = "List and Strings"
stri_2.split()

['List', 'and', 'Strings']

In [37]:
stri_3 = "Unleashing-new-techniques-using-python"

stri_3.split('-')

['Unleashing', 'new', 'techniques', 'using', 'python']

### Dictionaries
Dictionaries are powerful Python builtin data structure that are used to store data of key and values. A dictionary is like a list but rather than using integers as indices, indices in dictionary can be any data type. Also, unlike lists, dictionary are unordered. Dictionaries dont guarrantee keeping the order of the data.

Generally, a dictionary is a collection of key and values. A dictionary stores a mapping of keys and values. A key is what we can refer to index.

What we will see:

* Creating a dictionary
* Accessing values and keys in dictionary
* Solving counting problems with dictionary
* Traversing a dictionary
* The setdefault() method\
__Creating a dictionary__\
We can create with a `dict()` function and add items later, or insert keys and values right away in the curly brackets { }. Let's start with dict() function to create an empty dictionary.

In [38]:
# Creating a dictionary

countries_code = dict()
print(countries_code)

{}

In [39]:
type(countries_code)

dict

Let's add items to the empty dictionary that we just created.

In [40]:
# Adding items to the empty dictionary.

countries_code["India"] = 1

In [41]:
countries_code = { 
        "India":91, 
        "US": 1,
        "Turkey":90,
        "Palestine":970,
        "UK":44
}

countries_code

{'India': 91, 'US': 1, 'Turkey': 90, 'Palestine': 970, 'UK': 44}

In [42]:
countries_code['Iraq'] = 964
countries_code

{'India': 91, 'US': 1, 'Turkey': 90, 'Palestine': 970, 'UK': 44, 'Iraq': 964}

__Accessing the values and keys in a dictionary__\
Just like how we get values in a list by using their indices, in dictionary, we can use a key to get its corresponding value.

In [43]:
countries_code['US']

1

In [44]:
"India" in countries_code , "Singapore" in countries_code

(True, False)

To get all the keys, value, and items of the dictionary, we can respectively use `keys()`, `values()`, and `items()` methods

In [45]:
# Getting the keys and the values and items of the dictionary

dict_keys = countries_code.keys()
dict_values = countries_code.values()
dict_items = countries_code.items()

print(f"Keys: {dict_keys}\n Values:{dict_values}\n Items:{dict_items}")

Keys: dict_keys(['India', 'US', 'Turkey', 'Palestine', 'UK', 'Iraq'])
 Values:dict_values([91, 1, 90, 970, 44, 964])
 Items:dict_items([('India', 91), ('US', 1), ('Turkey', 90), ('Palestine', 970), ('UK', 44), ('Iraq', 964)])

In [46]:
# Get the value of the Australia

countries_code.get('India')

91

In [47]:
#In case a provided key is absent....
countries_code.get('China', 41)

41

In [48]:
countries_code

{'India': 91, 'US': 1, 'Turkey': 90, 'Palestine': 970, 'UK': 44, 'Iraq': 964}

__Traversing a dictionary__\
We previously used for loop in dictionary to iterate through the values. Let's review it again.

In [49]:
countries_code

{'India': 91, 'US': 1, 'Turkey': 90, 'Palestine': 970, 'UK': 44, 'Iraq': 964}

In [50]:
for country in countries_code:
    print(country)

India
US
Turkey
Palestine
UK
Iraq

In [51]:
for country, code in countries_code.items():
    print(country, code)

India 91
US 1
Turkey 90
Palestine 970
UK 44
Iraq 964

__The setdefault() Method__\
The `setdefault()` method allows you to set a value of a given key that does not already have a key. This can be helpful when you want to update the dictionary with a new value in case the key you are looking for does not exist.

In [60]:
countries_code.setdefault("Japan", 81)

81

In [61]:
countries_code

{'India': 91,
 'US': 1,
 'Turkey': 90,
 'Palestine': 970,
 'UK': 44,
 'Iraq': 964,
 'Japan': 81}

__*Summarizing dictionary*__

* Dictionaries are not ordered and they can not be sorted - list are ordered (and unordered) and can be sorted.
* Dictionary can store data of different types: floats, integers and strings and can also store lists.

__Tuples__\
Tuple is similar to list but the difference is that you can't change the values once it is defined (termed as `immutability`). Due to this property it can be used to keep things that you do not want to change in your program. Example can be a country codes, zipcodes, etc...

In [62]:
tup = (1,4,5,6,7,8)

In [63]:
# Indexing

tup[4]

7

In [64]:
## Tuples are not changeable. Running below code will cause an error

tup[2] = 10

TypeError: 'tuple' object does not support item assignment

In [65]:
# You can not also add other values to the tuple. This will be error
tup.append(12)

AttributeError: 'tuple' object has no attribute 'append'

__Sets__\
Sets are used to store the unique elements. They are not ordered like list.

In [66]:
set_1 = {1,2,3,4,5,6,7,8}

set_1

{1, 2, 3, 4, 5, 6, 7, 8}

In [67]:
set_2 = {1,1,2,3,5,3,2,2,4,5,7,8,8,5}
set_2

{1, 2, 3, 4, 5, 7, 8}

As you can see, set only keep unique values. There can't be a repetition of values.

In [68]:
# List Vs Set

odd_numbers = [1,1,3,7,9,3,5,7,9,9]

print("List:{}".format(odd_numbers))

print("********")

set_odd_numbers = {1,1,3,7,9,3,5,7,9,9}

print("Set:{}".format(set_odd_numbers))

List:[1, 1, 3, 7, 9, 3, 5, 7, 9, 9]
********
Set:{1, 3, 5, 7, 9}