## Data Structures
Data structures are used to organize and store the data. Algorithms supports operations on data.

Python has 4 main data structures: `Lists`, `Dictionaries`, `Tuples` and `Sets`.

__List__\
A list is a set of ordered values. Each value in a list is called an `element` or `item` and can be identified by an index. A list supports different data types, we can have a list of integers, strings, and floats.

What we will see with Python lists:

* Creating a list
* Accessing elements in a list
* Slicing a list
* Changing elements in a list
* Traversing a list
* Operations on list
* Nested lists
* List methods
* List and strings

__Creating a List__\
A python list can be created by enclosing elements of similar or different data type in square brackets [...], or with range() function.

In [1]:
# Creating a list

week_days = ['Mon', 'Tue', 'Wed', 'Thur','Fri']
even_numbers = [2, 4, 6, 8, 10]
mixed_list = ['Mon', 1, 'Tue', 2, 'Wed', 3]

# Displaying elements of a list
print(week_days)

['Mon', 'Tue', 'Wed', 'Thur', 'Fri']

In [2]:
# Creating a list with range()

nums = range(5)

for i in nums:
    print(i)

0
1
2
3
4

__Accessing the elements of the list__\
We can access the a given element of the list by providing the index of the element in a bracket. The index starts at 0 in Python.

In [3]:
# Accessing the first elements of the list

week_days[0]

'Mon'

In [4]:
even_numbers[2]

6

In [5]:
# Getting the last element of the list

print(even_numbers[-1])

10

__Slicing a list__\
Given a list, we can slice it to get any parts or combination of its elements forming another list.

In [6]:
# Get the elements from index 0 to 2. Index 2 is not included.

week_days = ['Mon', 'Tue', 'Wed', 'Thur','Fri']
week_days[0:2]

['Mon', 'Tue']

In [7]:
# Get elements from the last fourth elements to the first
# -1 starts at the last element 'Fri', -2 second last element `Thur'..... -4 to 'Tue'

week_days[-4:]

['Tue', 'Wed', 'Thur', 'Fri']

In [8]:
# Get all elements up to the fourth index

week_days[:4]

['Mon', 'Tue', 'Wed', 'Thur']

In [9]:
# Get all elements from the second to the last index

week_days[2:]

['Wed', 'Thur', 'Fri']

In [10]:
week_days[:]

['Mon', 'Tue', 'Wed', 'Thur', 'Fri']

__Changing elements in a list__\
Python lists are mutable. We can delete or change the elements of the list.

In [11]:
names = ['James', 'Jean', 'Sebastian', 'Prit']
names

['James', 'Jean', 'Sebastian', 'Prit']

In [12]:
# Change 'Jean' to 'Nyandwi' and 'Sebastian' to 'Ras'

names[1:3] = ['Nyandwi', 'Ras']
names

['James', 'Nyandwi', 'Ras', 'Prit']

In [13]:
# Change 'Prit' to Sun

names[-1] = 'Sun'
names

['James', 'Nyandwi', 'Ras', 'Sun']

In [14]:
# Change `James` to ``Francois`

names[0] = 'Francois'
names

['Francois', 'Nyandwi', 'Ras', 'Sun']

In order to delete a given element in a list, we can empty slice it but the better way to delete element is to use del keyword.

In [16]:
# Delete Nyandwi in names list

del names[1]
names

['Francois', 'Ras', 'Sun']

If you know the index of the element you want to remove, you can use `pop()`. If you don't provide the index in pop(), the last element will be deleted.

In [17]:
names = ['James', 'Jean', 'Sebastian', 'Prit']
names.pop(2)
names

['James', 'Jean', 'Prit']

Also, we can use `remove()` to delete the element provided inside the remove() method.

In [18]:
names = ['James', 'Jean', 'Sebastian', 'Prit']
names.remove('James')
names

['Jean', 'Sebastian', 'Prit']

We can also use `append()` to add element to the list.

In [19]:
# Adding the new elements in list

names = ['James', 'Jean', 'Sebastian', 'Prit']
names.append('Jac')
names.append('Jess')
names

['James', 'Jean', 'Sebastian', 'Prit', 'Jac', 'Jess']

__Traversing a list__\
There are times that we may need to go over the list to read the elements of the list or perform iterative operations. We can use for loop to traverse through the list.

In [20]:
# Given a list names, use for loop to display its elements

names = ['James', 'Jean', 'Sebastian', 'Prit']

for name in names:
    print(name)

James
Jean
Sebastian
Prit

In [21]:
# Given a list nums, add 1 to the first element, 2 to the second, 3 to 3rd element, 4 to 4th element
# Example: nums = [1,2,3,6] will be nums_new = [2,4,6,10]

nums = [1, 2, 3, 6]
nums_new = []

for i in range(len(nums)): #len(nums) gives the length of the list
    num = nums[i] + i + 1
    nums_new.append(num)
    
nums_new

[2, 4, 6, 10]

__Operations on list__

In [22]:
# Concatenating two lists

a = [1,2,3]
b = [4,5,6]

c = a + b

c

[1, 2, 3, 4, 5, 6]

In [23]:
# We can also use * operator to repeat a list a number of times

[None] * 5

[None, None, None, None, None]

In [24]:
[True] * 4

[True, True, True, True]

In [25]:
[1,2,4,5] * 2

[1, 2, 4, 5, 1, 2, 4, 5]

__Nested lists__

In [26]:
# Creating a list in other list

nested_list = [1,2,3, ['a', 'b', 'c']]


# Get the ['a', 'b', 'c'] from the nested_list

nested_list[3]

['a', 'b', 'c']

In [27]:
# Indexing and slicing a nested list is quite similar to normal list

nested_list[1]

2

__List Methods__\
Python also offers methods which make it easy to work with lists. We already have been using some list methods such as `pop()` and `append()` but let's review more other methods.

In [28]:
# Sorting a list with sort()

even_numbers = [2,14,16,12,20,8,10]

even_numbers.sort()

even_numbers

[2, 8, 10, 12, 14, 16, 20]

In [29]:
# Reversing a string with reverse()

even_numbers.reverse()
even_numbers

[20, 16, 14, 12, 10, 8, 2]

In [30]:
# Adding other elements to a list with append()

even_numbers = [2,14,16,12,20,8,10]

even_numbers.append(40)
even_numbers

[2, 14, 16, 12, 20, 8, 10, 40]

In [31]:
# Removing the first element of a list

even_numbers.remove(2)
even_numbers

[14, 16, 12, 20, 8, 10, 40]

In [32]:
## Return the element of the list at index x

even_numbers = [2,14,16,12,20,8,10]

## Return the item at the 1st index

even_numbers.pop(1)

14

In [33]:
# pop() without index specified will return the last element of the list

even_numbers = [2,14,16,12,20,8,10]
even_numbers.pop()

10

In [34]:
# Count a number of times an element appear in a list

even_numbers = [2,2,4,6,8]
even_numbers.count(2)

2

__List and strings__\
We previously have learned about strings. Strings are sequence of characters. List is a sequence of values.

In [35]:
# We can convert a string into list

stri = 'Apple'

list(stri)

['A', 'p', 'p', 'l', 'e']

In [36]:
# Splitting a string produces a list of individual words

stri_2 = "List and Strings"
stri_2.split()

['List', 'and', 'Strings']

In [38]:
stri_3 = "Santander-Bank-of-US"

stri_3.split('-')

['Santander', 'Bank', 'of', 'US']